.image-bg {
  background: linear-gradient(rgba(12, 24, 36, 0.75), rgba(12, 24, 36, 0.75)), url(https://dhilipkmr.github.io/aboutDhilip/src/img/bg-1.jpg) 50% 0px / cover no-repeat;
  height: 400px;
  position:relative;
}
.hidden {
  display: none !important;
}
.bodyBg {
  background-color: #ECEFF1;
}
.picture:hover {
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.3);
  transition: 0.3s;
  -webkit-transform: scale(1.02);
}
.about-me:hover {
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.3);
  transition: 0.3s;
  /*-webkit-transform: scale(1.02);*/
}
.skills:hover {
  box-shadow: 0px 6px 6px 2px rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}
@media all and (max-width: 991px) {
  .about-me-title::after {
    display: none;
  }
  .skills,
  .projects,
  .about-me{
    width: 90% !important;
  }
  .timeLine{
    width: 90% !important;
  }
}
.animated {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.about-me {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.3);
  transition: all 0.5s fade-in;
  position: relative;
  bottom: 280px;
  text-align: center;
  width: 75%;
  min-width: 270px;
  margin: auto;
  z-index: 1;
  background: #fff;
}
.about-me .card-intro .side1 {
  margin-top: 100px;
}
.about-me .card-intro .side1 .picture {
  height: 150px;
  width: 150px;
  border-radius: 8%;
  transition: 0.3s;
}
.about-me .card-intro .side1 .name {
  font-family: 'Dosis', cursive;
  font-size: 30px;
  letter-spacing: 5px;
  color: #0EB57D;
  /*padding-left:15px;*/
  line-height: 2;
}
.about-me .card-intro .side1 .role {
  font-family: 'Open Sans', Sans;
  text-transform: uppercase;
  font-weight: bold;
  color: #455a64;
  letter-spacing: 2;
  line-height: 2;
}
.about-me .card-intro .side2 {
  padding:0px 50px;
}
.about-me .card-intro .side2 .about-me-title {
  font-family: 'Dosis', cursive;
  font-size: 25px;
  letter-spacing: 5px;
  line-height: 2;
  color: #455a64;
  position: relative;
}
.about-me .card-intro .side2 .about-me-title::after {
  background-color: #0EB57D !important;
  display: inline-block;
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 70px;
  height: 3px;
  background: red;
  border-radius: 30px;
}
.about-me .card-intro .side2 .about-me-description {
  font-family: 'Open Sans', 'Sans Serif';
  line-height: 2.4;
  color: #666666;
  margin-top: 20px;
}
.about-me .card-intro .side2 .about-contact {
  margin-top: 20px;
  line-height: 2.4;
}
.about-me .card-intro .side2 .about-contact span.spec {
  font-family: 'Open Sans', 'Sans Serif';
  line-height: 2;
  text-align: left;
  display: inline-block;
  min-width: 80px;
  color: #555555;
  font-weight: 700;
  font-size: 100%;
}
.about-me .card-intro .side2 .about-contact span.contact-info {
  font-family: 'Open Sans', 'Sans Serif';
  line-height: 2;
  text-align: left;
  display: inline-block;
  min-width: 150px;
  color: #666666;
}
.about-me .card-intro .about-me-footer {
  background-color: #0EB57D;
  min-height: 65px;
  width: 100%;
}
/*-Skills*/
.skills-title {
  position: relative;
  bottom: 170px;
  text-align: center;
  font-family: 'Dosis', Sans Serif;
  color: #555555;
  letter-spacing: 2.4;
  font-size: 24px;
}
.skills {
  /*text-align: center;*/
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.3);
  transition: 0.3s;
  position: relative;
  bottom: 120px;
  width: 75%;
  min-width: 270px;
  margin: auto;
  z-index: 1;
  background: #fff;
}
.skills .skillRow {
  line-height: 3;
  margin-bottom: 10px;
  position: relative;
}
.skills .skillName,
.skills .percent {
  font-family: 'Open Sans', Sans Serif;
  font-weight: 600;
  font-size: 14px;
  color: #37474F !important;
  letter-spacing: 1.4px;
}
.skills .percent {
  position: absolute;
  left: 85%;
}
.skills .skillLevel {
  background-color: #0EB57D !important;
  height: 5px !important;
}
/*PORTFOLIO*/
.projects-title {
  text-align: center;
  font-family: 'Dosis', Sans Serif;
  color: #555555;
  letter-spacing: 2.4;
  font-size: 24px;
}
.projects {
  width: 75%;
  margin: auto;
}
.projects .project-cards {
  background-color: #fff;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.3);
  transition: 0.3s;
  min-width: 200px !important;
  height: 200px;
  position: relative;
  transition: 0.5s;
  overflow: hidden;
}
.projects .project-cards .icon {
  color: #0eb573;
  font-size: 1.5em;
}
.projects .project-cards .portfolio-card-info {
  font-family: 'Dosis', cursive;
  font-size: 18px;
  letter-spacing: 3px;
  font-weight: 600;
  line-height: 2;
  color: #555555;
  position: relative;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 30px;
}
.projects .project-cards .portfolio-card-info::after {
  background-color: #0EB57D !important;
  display: inline-block;
  content: '';
  position: absolute;
  left: 40%;
  bottom: -50%;
  width: 20%;
  height: 3px;
  border-radius: 30px;
}
.projects .project-cards .portfolio-card-description {
  position: absolute;
  font-family: '';
  width: 90%;
  top: 13%;
  margin: auto;
  font-family: 'Open Sans', Sans Serif;
  line-height: 2.5;
  color: #455a64;
  font-weight: 600;
  font-size: 14px;
  transition: all 0.7s;
  transform: scale(0);
}
.projects .project-cards .info{
  transition: all 0.4s ease-out;
}
.projects .project-cards:hover {
  box-shadow: 12px 6px 40px 0 rgba(0, 0, 0, 0.3);
  transition: 1s;
}
.projects .project-cards:hover > .info{
  top:100%;
  }
.projects .project-cards:hover > .portfolio-card-description{
  transform: scale(1);
  }
/*Experience & Edu*/
.timeLine-title {
  font-family: 'Dosis', cursive;
  font-size: 25px;
  letter-spacing: 5px;
  line-height: 2;
  color: #455a64;
  position: relative;
  margin-bottom: 50px;
}
.timeLine {
  position: relative;
  width: 75%;
  min-width: 270px;
  margin: auto;
  margin-bottom: 15px;
}
.timeLine .timeLine-card {
  background-color: #fff;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.3);
  transition: 0.3s;
  min-width: 200px !important;
  /*height: 200px;;*/
  position: relative;
  transition: 0.5s;
  line-height: 2.5;
}
.timeLine .timeLine-card .orgName {
  font-size: 15px;
  font-weight: 600;
  color: #455a64;
  text-transform: capitalize;
  letter-spacing: 1.4;
}
.timeLine .timeLine-card .designation {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1.4;
  color: #3E595E;
}
.timeLine .timeLine-card .tl-card-projTopic {
  display: inline-block;
  position: relative;
  font-family: 'Open Sans', Sans;
  font-weight: 600;
  font-size: 0.8em;
  margin-top: 15px;
  letter-spacing: 1px;
}
.timeLine .timeLine-card .tl-card-projDes {
  position: relative;
  font-family: 'Open Sans', Sans;
  padding-left: 10%;
  font-size: 0.9em;
  letter-spacing: 1px;
}
.timeLine .timeLine-card .tl-card-desc {
  font-weight: 400;
  color : #555555;
  font-family:'Open Sans', Sans;
}
.timeLine .timeLine-card .period {
  font-size: 12px;
  color: #0EB57D;
  font-weight: 700;
}
.timeLine .timeLine-card:hover {
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}
.timeLine .timeLine-card::after {
  content: '';
  position: absolute;
  height: 12px;
  width: 12px;
  background-color: #0EB57D;
  top: 33px;
  right: -34px;
  border: 4px solid #0EB57D;
  z-index: 1;
  border-radius: 50%;
}
.timeLine .timeLine-card.left {
  left: 0;
}
.timeLine .timeLine-card.left::before {
  content: "";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 100%;
  border: medium solid white;
  border-width: 15px 0px 15px 15px;
  border-color: transparent transparent transparent white;
}
.timeLine .timeLine-card.right::before {
  content: '';
  height: 0px;
  top: 22px;
  z-index: 1;
  width: 0;
  left: -14px;
  position: absolute;
  border: medium solid black;
  border-width: 15px 15px 15px 0px;
  border-color: transparent white transparent;
}
.timeLine .timeLine-card.right::after {
  left: -37px;
}
.timeLine::after {
  content: '';
  position: absolute;
  width: 4px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}
.footer {
  background-color: #0EB57D;
  height: 65px;
  width: 100%;
}
.footer .footer-text {
  text-align: center;
  padding: 20px;
  color: #ffffff;
  font-weight: 600;
  margin-bottom: 0px;
}
.portfolioCard {
    padding-left: 0px !important;
  }


@media all and (max-width: 767px) {

  .timeline::after{
      left: -15px !important;
  }
  .timeline .timeline-card{
  	margin-top: 5px;
  	margin-bottom: 5px;
  }
  .timeLine .timeLine-card.left::before {
  content: '';
  height: 0px;
  top: 22px;
  z-index: 1;
  width: 0;
  left: -14px;
  position: absolute;
  border: medium solid black;
  border-width: 15px 15px 15px 0px;
  border-color: transparent white transparent;
}
.timeLine .timeLine-card.left::after {
  left: -37px;
}
.rm-pr{
    padding-right: 0px !important;
  }
.timeLine{
  width: 80% !important;
}
}

@media all and (max-width:575px) {
  .projects .project-cards .portfolio-card-description{
    position: relative;
    transform: scale(1);
    top:0%;
    display: block;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    
  }
  .projects .project-cards {
    height : auto;
  }
  .projects .project-cards:hover{}

  .projects .project-cards:hover > .portfolio-card-description{}
  .projects .project-cards:hover > .info{
    top:0%;
  }
  .portfolioCard {
    padding: 0px !important;
  }
  .timeLine{
    width: 80% !important;
  }
}

#navigationCtrl {
  position: fixed !important;
  top:-200px;
  z-index: 3;
  width: 100% !important;
  background-color: #455a64;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.3);
  transition: 0.7s;
  
}
.nav-item,.navbar-brand{
  color : #fff !important;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2.4;
  font-family: 'Dosis', Sans Serif;
  transition: 0.5s;
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 10%, 0);
            transform: translate3d(0, 10%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

.contactIcon {
  color: #fff;
  font-size: 1.5em;
  transform: scale(1);
  transition: 300ms;
}

.contactIcon:hover {
  transform: scale(1.2);
  transition: 300ms;

}
