<div class="image-bg">
	
</div>
<section class="about-me">
	<div class="container-fluid">
		<div class="row">
			<div class="row">
				<div class="col col-sm-5 col-12  mt-5 side1">
					<img src="/src/img/yahiko.png" class="picture" alt="profile_pic"></img>
					<div class="name"> DHILIP KUMAR</div>
					<div class="role"> DEVELOPER</div>
				</div>
				<div class="col col-sm-6 col-12 mt-5 side2 text-sm-left">
					<div class="about-me-title">ABOUT ME</div>
					<div class="about-me-description ">{{details.shortDescription}}</div>
					<div class="about-contact">
						<ul class="list-unstyled">
							<li>
								<span class="spec">Age</span>
								<span class="contact-info">23</span>
							</li>
							<li>
								<span class="spec">Address</span>
								<span class="contact-info">B 103, Isha Casablanca</span>
							</li>
							<li>
								<span class="spec">Email</span>
								<span class="contact-info">dhilip1211@gmail.com</span>
							</li>
							<li>
								<span class="spec">Phone</span>
								<span class="contact-info">+91-9750568258</span>
							</li>
						</ul>
					</div>
				</div>
			</div>  <!--row-->
			<div class="row text-left about-me-footer ml-0">
					
			</div>
		</div> <!--row-->
	</div>	<!--containerfluid-->
</section>