<div class="image-bg">
	
</div>
<section class="about-me">
	<div class="container-fluid">
		<div class="row">
			<div class="col col-sm-12 px-0">
				<div class="col m7 col-sm-5 px-0">
				</div>
				<div class="col m7 col-sm-7 px-0">
					<div class="about-me-title">About Me</div>
					<div class="about-me-description">{{details.shortDescription}}</div>
					<div class="about-contact">
						<ul class="list-unstyled">
							<li>
								<span class="spec">Age</span>
								<span class="contact-info">23</span>
							</li>
							<li>
								<span class="spec">Address</span>
								<span class="contact-info">B 103, Isha Casablanca</span>
							</li>
							<li>
								<span class="spec">Email</span>
								<span class="contact-info">dhilip1211@gmail.com</span>
							</li>
							<li>
								<span class="spec">Phone</span>
								<span class="contact-info">+91-9750568258</span>
							</li>
						</ul>
					</div>
				</div>
				<div class="about-me-footer"></div>
			</div>
		</div>
	</div>
</section>